<footer class="footer-adjust">
  <div class="footer-inner">
    
    <!-- Left -->
    <div class="left text-dark opacity-75 fw-medium">© 2025 Company, Inc</div>

    <!-- Center -->
    <div class="center fw-bold fs-4 text-dark">Notes.</div>

    <!-- Right -->
    <div class="right">
      <a href="/" class="text-dark fw-medium">Home</a>
      <a href="/features" class="text-dark fw-medium">Features</a>
      <a href="/faqs" class="text-dark fw-medium">FAQs</a>
      <a href="/about" class="text-dark fw-medium">About</a>
    </div>

  </div>
</footer>
